/* keyframes01.css */
/* 공통 */
h1 {margin:10px 15px 30px;}
.map {
    background:#eee;
    padding:15px;
}
.map .ball {
    width:100px; height:100px;
    display:block;
    background:linear-gradient(45deg, #000, transparent);
    border-radius:50px;
}
.map .ball img {width:100%;}
.map span[class*=txt] {
    font-size:2rem;
    display:block;
    text-align:center;
    line-height:1.3;
    font-weight:300;
}
/* 개별 */
/* animation : 불러올프레임이름 지속시간; */
/* :hover, transtion은 사용자의 동작(이벤트)와 함께 애니메이션을 만들 때 */
/* animation, keyframes은 사용자의 동작 관계없이 자동으로 시작하고 끝나는 애니메이션을 제작할 때 */
.map1 .ball {animation:right600 2s ease 1s 2 alternate-reverse both;}
    /* (위 해석) 1초 뒤에 2초 동안  2번 재생 */
.map2 .ball {animation:left50 1.5s linear 2s infinite alternate;}
/* (위 해석) 2초 뒤에 1.5초 동안 무한재생 */
.map3 .ball {animation:left400right200 2s linear 1.5s 5 alternate both;}/* ball은 이동 */
.map3 .ball img {animation:rotate360 1.5s linear infinite;}/* img는 회전 */
.map4 .txt1 {animation:txtDisplay_v1 1s;}
.map4 .txt2 {opacity:0; animation:txtDisplay_v1 2s both;}
.map5 .txt1 {animation:txtDisplay_v2 1.2s;}
.map5 .txt2 {opacity:0; animation:txtDisplay_v3 2.3s both;}
.map5 .txt3 {opacity:0; animation:txtDisplay_v4 2.5s both;}
.map5 .txt4 {opacity:0; animation:txtDisplay_v3 2.7s both;}
.map5 .txt5 {opacity:0; animation:txtDisplay_v2 2.9s both;}
.map6 .bg {/* 무한반복 배경 애니메이션 */
    background-image:url(../images/bg.jpg);
    background-size:auto 100px;
    display:block;
    width:400px; height:100px;
    animation:bgInfinite 50s linear infinite;
}
/* ----------------------------- 애니메이션 키프레임(css 파일 별도 권장) */
/* @keyframes 애니메이션생성명 {
    0% {시작 장면속성:값;}
    50% {중간 장면속성:값;}
    100% {종료 장면속성:값;}
    } 
*/
@keyframes bgInfinite {
    0% {background-position-X:0;}
    100% {background-position-X:5000px;}
}
@keyframes right600 {
    0% {transform:translateX(0);}
    100% {transform:translateX(600px);}
}
@keyframes left50 {
    0% {transform:translateX(400px);}
    100% {transform:translateX(50px);}
}
@keyframes rotate360 {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}
@keyframes left400right200 {
    0% {transform:translateX(0);}
    50% {transform:translateX(400px);}
    100% {transform:translateX(200px);}
}
/* 글자 한줄씩 나타나는 필요 속성 : 위->아래 이동, 투명->불투명, 뿌옇->선명 */
@keyframes txtDisplay_v1 {
    0% {transform:translateY(-15px); opacity:0; filter:blur(5px);}
    100% {transform:translateY(0); opacity:1; filter:blur(0);}
}
@keyframes txtDisplay_v2 {
    0% {transform:translateX(100px); opacity:0; filter:blur(4px);}
    100% {transform:translateX(0); opacity:1; filter:blur(0);}
}
@keyframes txtDisplay_v3 {
    0% {transform:rotate(180deg); opacity:0; filter:blur(4px);}
    100% {transform:rotate(0deg); opacity:1; filter:blur(0);}
}
@keyframes txtDisplay_v4 {
    0% {transform:translateX(-100px); opacity:0; filter:blur(4px);}
    100% {transform:translateX(0); opacity:1; filter:blur(0);}
}